@keyframes moveRight {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(5%);
  }
}

@keyframes moveBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes moveBottom2 {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(70px);
  }
}

.parallaxContainer {
  position: absolute;
  width: 100vw;
  z-index: -10;
  bottom: 0;
}

.parallax {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
}

.layer1,
.layer2,
.layer3,
.layer4 {
  bottom: 0;
}

.layer1 {
  top: -50vh;
  z-index: 4;
}

.layer1 img {
  animation: moveBottom2 8s infinite alternate;
  width: 150%;
}

.layer2 {
  top: -55vh;
  z-index: 3;
}

.layer3 {
  /* top: -65vh;  */
  z-index: 2;
}
.layer3 img {
  animation: moveBottom 20s infinite alternate;
}

.layer4 {
  top: -90vh;
  z-index: 1;
  overflow: hidden;
}

.layer4 img {
  transform: scaleX(1.2) scaleY(1.2);
  width: 140%;
  position: relative;
  left: -10%;
  animation: moveRight 20s infinite alternate;
  width: 150%;
}

.layer1 img, .layer2 img, .layer3 img {
  width: 100%;
  height: auto;
}

/* home parallax  */

.homeRoute .layer2 {
  top: -64vh;
}
.homeRoute .layer3 {
  top: -82vh; 
}


@media screen and (max-width: 1650px) {
  .homeRoute .layer2 {
    top: -62vh; 
  }
  .homeRoute .layer3 {
    top: -70vh; 
  }
  .homeRoute .layer4 {
    top: -85vh;
  }
}

@media screen and (max-width: 1440px) {
  .layer1 {
    top: -45vh; 
  }
  .layer2 {
    top: -44vh; 
  }
  .layer3 {
    top: -75vh;
  }
  .layer4 {
    top: -80vh; 
  }
}

@media screen and (max-width: 1250px) {
  .layer1 {
    top: -45vh; 
  }
  .layer2 {
    top: -55vh;
  }
  .layer3 {
    top: -70vh; 
  }
  .layer4 {
    top: -80vh;
  }
}

@media screen and (max-width: 880px) {
  .layer1 {
    top: -40vh; 
  }
  .layer2 {
    top: -45vh; 
  }
  .layer3 {
    top: -55vh;
  }
  .homeRoute .layer1 {
    top: -46vh; 
  }
  .homeRoute .layer2 {
    top: -56vh; 
  }
}

@media screen and (max-width: 840px) {
  .homeRoute .layer2 {
    top: -46vh; 
  }
}


@media screen and (max-width: 767px) {

  .layer1 {
    top: -40vh;
  }
  .layer3 {
    top: -65vh;
  }
  .layer4 {
    top: -75vh;
  }
  .homeRoute .layer1 {
    top: -40vh; 
  }
  .homeRoute .layer2 {
    top: -45vh; 
  }
  .homeRoute .layer3 {
    top: -65vh; 
  }
  .homeRoute .layer4 {
    top: -80vh; 
  }
}

@media screen and (max-width: 660px) {
  .layer3 {
    top: -61vh;
  }
}

@media screen and (max-width: 540px) {

  .layer1 {
    top: -46vh;
  }
  .layer2 {
    top: -50vh;
  }
  .layer3 {
    top: -60vh;
  }
  .homeRoute .layer1 {
    top: -40vh; 
  }
  .homeRoute .layer3 {
    top: -50vh; 
  }
  .homeRoute .layer4 {
    top: -65vh; 
  }
}

@media screen and (max-width: 460px) {

  .layer1 {
    top: -40vh;
  }
  .layer2 {
    top: -42vh;
  }
  .layer3 {
    top: -50vh;
  }
  .layer4 {
    top: -68vh;
  }
}

@media screen and (max-width: 430px) {

  .layer1 {
    top: -20vh;
  }
}

@media screen and (max-width: 400px) {

  .layer1 {
    top: -32vh;
  }
  .layer2 {
    top: -31vh;
  }
  .layer3 {
    top: -40vh;
  }
  .layer4 {
    top: -56vh;
  }

}

@media screen and (max-width: 375px) {

  .layer1 {
    top: -12vh;
  }
  .layer2 {
    top: -54vh;
  }
  .layer3 {
    top: -83vh;
  }
  .layer4 {
    top: -86vh;
  }
  .homeRoute .layer1 {
    top: -35vh; 
  }
  .homeRoute .layer2 {
    top: -38vh; 
  }
  .homeRoute .layer3 {
    top: -50vh; 
  }
  .homeRoute .layer4 {
    top: -60vh; 
    transform: translateY(0px);

  }

}





