.login {
  height: 100vh;
  padding: 3rem 1rem;
}

.registerContent {
  height: 100%;
  border-radius: 1.25rem;
  background: rgba(243, 240, 230, 0.92);
  width: 100%;
  flex-shrink: 0;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
}

h2 {
  color: #3E3E3E;
  text-align: center;
  font-size: 1.7rem;
  font-family: var(--type-tirth);
  font-weight: 400;
}

.wrapper {
  margin-bottom: 1rem;

}

.messageRegister{
  width: 95%;
  margin: auto;
  font-size: 0.8rem;
  font-family: var(--type-tirth);
  padding: 1rem 0;
}

form{
  display: grid;
  place-items: center;
  width: 50%;
  margin: auto;
  margin-top: 0.5rem;
}

.input {
  border: 1px solid #A7DAC7;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: 0.4rem;
  background: #a7dac761;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: #fff;
  box-shadow: 0 0 0 1px #fea;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: .4rem;
  background: #fb1;
  color: #764701;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  min-width: 8rem;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button:hover,
.button:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  transition: 0.2s;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.buttonBack {
  border: none;
  font-size: 0.8rem;
  background-color: transparent;
}

.buttonBack:focus,
.buttonBack:hover {
  outline: none;
  border-bottom: 1px solid #3e3e3e;
  cursor: pointer;
}

.register {
  margin-top: 3rem !important;
  color: #3e3e3e;
  font-size: 0.8rem;
  margin-top: 30px;
}

.buttonBack:active {
  color: 3e3e3e;
}

.register:hover,
.register:focus {
  outline: none;
  border-bottom: 1px solid #3e3e3e;

}


@media screen and (min-width: 1366px) and (max-width: 2559px) {
  .login {
    display: grid;
    place-content: center;
  }
  .registerContent {
    width: 75%;
    height: 100%;
    padding: 4rem;
  }
}

@media screen and (min-width: 960px) and (max-width: 1365px){
  .login {
    display: grid;
    place-content: center;
  }
  .registerContent {
    width: 75%;
    height: 100%;
    padding: 4rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 959px){
  .registerContent {
    width: 90%;
    padding: 3rem 0rem;
  }
  .messageRegister {
    width: 90%;
  }
  .login h2 {
    font-size: 1.2rem;
  }
  form {
    margin-top: 3rem !important;
    width: 80% !important;
  }

  .input {
    font-size: 0.8rem;
    margin-bottom: 1.1rem;
  }

}

