.policyContainer {
  margin-top: 4rem;
  padding: 2rem 1rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  backdrop-filter: blur(10px); /* Desfoque do fundo */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda semi-transparente */
  color: #000; /* Certifique-se de que o texto está bem legível */
  width: 90%;
}

.policyContent {
  color: #000; /* Certifique-se de que o texto está bem legível */
}

.policyContainer p{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--type-tirth);
  font-weight: 200;
  margin: 1.5rem 0;
}

.policyContent .title {
  text-align: center;
  font-family: var(--type-tirth);
  font-weight: 300;
  color: #000;
  font-size: 1.5rem;
}

.policyContent .section {
  margin-bottom: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 1.2rem;
}

.policyContent .sectionTitle {
  cursor: pointer;
  font-size: 1.5rem;
  color: #000; /* Certifique-se de que o título está bem legível */
}

.sectionTitle:hover {
  color: #2D8F58; /* Cor ao passar o mouse */
}

.policyContent .section h2{
  text-align: center;
  font-family: var(--type-tirth);
  font-weight: 300;
  font-size: 1rem;
}

.arrowBack{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 0.7rem;
}

.arrowBack:hover{
  text-decoration: underline;
}


@media screen and (min-width: 1366px) and (max-width: 2559px) {
  .policyContainer {
    width: 50%;
    padding: 6rem;
  }

  .policyContent p {
    width: 100%;
    margin: 1.7rem 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1365px){
  .policyContainer {
    width: 75%;
    padding: 6rem;
  }
  .policyContent p {
    width: 100%;
    margin: 1.4rem 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 959px){
  .policyContainer {
    width: 90%;
    padding: 1rem;
    font-size: 0.8rem;
    margin-bottom: 200px;
    margin-top: 8rem;
  }
  .policyContainer .title {
    font-size: 1.4rem;
  }
  .policyContent p {
    width: 100%;
    margin: 1.4rem 0;
  }
  .policyContent .section h2{
    font-size: 1rem;
  }
  .policyContent .section p{
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}

