.cookieConsentBanner {
  padding-top: 3rem;
}

.cookieConsentBanner p {
  max-width: 50%;
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
  font-size: 0.8rem;
} 

.cookieConsentBanner div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  place-items: center;
  gap: 16px;
  font-size: 0.7rem;
}

.cookieConsentBanner div a:hover{
  text-decoration: underline;
}

.cookieConsentBanner button {
  background-color: transparent;
  border: 1px solid #3e3e3e75;
  padding: 8px 24px;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
}

.cookieConsentBanner button:hover,
.cookieConsentBanner button:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  transition: 0.2s;
}