.footer {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 3rem;
}

.description {
  width: 60%;
  margin-bottom: 2rem;
}

.description p {
  font-size: 0.9rem;
  text-align: center;
}

.copy {
  font-size: 0.8rem;
  color: #3c3c3c;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
}
.copy div p{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.3rem;
}
.reactIcon {
  width: 20px;

}

.footer a:hover{
  text-decoration: underline;
}

