.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Aplica o efeito de desfoque */
  top: 0px;
  height: 5rem;
  padding: 1rem 2.2rem;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logoTitle {
  font-family: 'mate-sc-regular';
  font-size: 1.2rem;
  font-weight: 500;
}

.profileImg {
  width: 50px;
  height: 50px;
}

.login::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../Assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
}