.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo com transparência */
  backdrop-filter: blur(10px); /* Aplica o efeito de desfoque */
  top: 0px;
  height: 5rem;
  padding: 1rem 2.2rem;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


h1 {
  font-family: 'mate-sc-regular';
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.logoTitle {
  font-family: 'mate-sc-regular';
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.profileImg {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;

}


.login::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url('../Assets/usuario.svg') no-repeat center center;
  margin-left: 0.5rem;
}


.profileContainer {
  position: relative;
}

.profileMenu {
  position: absolute;
  top: 130%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.1rem 0.6rem;
  width: 180px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.profileMenu button,
.profileMenu a {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
}

.profileMenu button:hover,
.profileMenu a:hover{
  background-color: #f0f0f0;
}


@media screen and (max-width: 400px) {
  .header {
    padding: 1rem;
  }
}

