/* Estrutura geral */
.home {
  padding-top: 5rem;
  margin-bottom: 5rem;

}

.home.container {
  padding: 20px;
  margin-top: 8rem;
  width: 75%;
}

.evolution {
  border: 1px solid #c3c3c3;
  border-radius: 0.4rem;
  padding: 1.3rem;
  margin: 24px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.undoButton {
  display: flex;
  justify-content: end;
  margin: 16px 10px;
}

.undoButton button {
  border: none;
  padding: 0.5rem 1rem;
  font-family: var(--type-tirth);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.4rem;
  font-size: 0.8rem;
  color: gray;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.undoButton button:hover {
  background-color: #E1E4C7;
  
}

.evolution h2 {
  padding: 1.1rem 0;
  font-family: var(--type-tirth);
  font-weight: 300;
  
}

/* Barra de progresso */
.progressContainer {
  border: 1px solid #000;
  border: none;
  width: 100%;
  margin: 20px 0;
  background-color: rgba(226, 228, 199, 1);
}

.progressBar {
  background-color: #BFC76C; 
  height: 4rem;
  border: none;
  transition: width 0.5s ease-in-out;
  position: relative;
}

.progressBar::after {
  content: ''; 
  position: absolute;
  right: -15px;
  top: 18%;
  width: 40px; 
  height: 40px; 
  background-image: url('../assets/gandalf8bit.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  
}


/* Lista de capítulos */
.chapterList {
  list-style: none;
  padding: 0;
  overflow: hidden;
  padding-bottom: 2rem;
  height: 40vh;
  overflow-y: auto;
}

.chapterItem {
  margin: 10px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: var(--type-tirth);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.4rem;
  border-radius: 0.4rem;
  transition: transform 0.3s ease; /* Adiciona uma transição de 0.3 segundos para a propriedade transform */
}

.chapterItem:hover,
.chapterItem:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  transition: 0.2s;
}


.clicked {
  transform: translateX(100%); /* Move o elemento 100% para a direita quando clicado */
}

.exitDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  
}

.exitDiv button {
  border: none;
  background-color: rgba(2, 45, 20, 0.8); /* Fundo com 80% de opacidade */
  padding: 4px 16px;
  border-radius: 5px;
  color: #BFC76C;
  font-family: var(--type-tirth);
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}

.exitDiv button:hover {
  border: none;
  background-color: rgba(2, 45, 20, 0.8); /* Fundo com 80% de opacidade */
  padding: 4px 16px;
  border-radius: 5px;
  color: #BFC76C;
  font-family: var(--type-tirth);
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 4px #093F20, 0 0 0 1px #093F20;
  transition: 0.4s;
}


.finalMessage {
  display: none;
}



.completionMessage {
  /* estilos da mensagem de conclusão */
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #4caf50;
}

.message {
  position: fixed;
  top: 5%;
  /* left: 50%; */
  right: -5%;
  transform: translateX(-50%);
  background-color: #fffae6;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  color: #093F20;
}



@media screen and (max-width: 1140px) {
  .home.container {
    max-width: 60rem !important;
  }
  
}

@media screen and (max-width: 840px) {
  .home.container {
    max-width: 40rem !important;
  }
  .completionMessage h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {

  .home.container {
    margin: 0 auto;
  }

  .message {
    top: 7%;
    right: -15%;
  }
}

@media screen and (max-width: 480px) {
  .chapterList {
    padding-bottom: 5rem;
    font-size: 0.8rem;
  }
  .home h2 {
    font-size: 1.2rem;
  }
  .home .evolution {
    padding: 0rem 1rem;
  }
  .home.container {
    margin: 0 auto;
  }
}