.finalMessage {
  margin-top: -50%;
  display: grid;
  place-items: center;
  place-content: center;
}

.finalMessage p {
  text-align: center;
  font-size: 1.1rem;
  font-family: var(--type-tirth);
}

.finalMessage h2 {
  font-family: var(--type-elf);
}

.finalMessage .iframe {
  border-radius: 25px;
  width: 554px;
  height: 235px;

}

.iframe {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.7rem;
}

.iframe iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove a borda do iframe */
}

@media screen and (max-width: 990px) {
  .finalMessage {
    margin-top: -70%;
  }
}
@media screen and (max-width: 767px) {
  .finalMessage {
    margin-top: -80%;
  }
}
@media screen and (max-width: 600px) {
  .finalMessage {
    margin-top: -100%;
  }
  .finalMessage .iframe {
    border-radius: 25px;
    width: 384px;
    height: 165px;
  
  }
}

@media screen and (max-width: 480px) {
  .finalMessage {
    margin-top: -130%;
  }
  .finalMessage .iframe {
    border-radius: 25px;
    width: 384px;
    height: 165px;
  
  }
}