.finalMessage {
  display: grid;
  place-items: center;
  border: 1px solid #c3c3c3;
  border-radius: 0.4rem;
  padding: 1.3rem;
  margin: 24px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.finalMessage p {
  text-align: center;
  font-size: 1.1rem;
  font-family: var(--type-tirth);
}

.finalMessage h2 {
  font-family: var(--type-elf);
}

.messageModal {
  width: 100%;
  max-width: 600px; /* ou qualquer tamanho máximo desejado */
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.gifContainer {
  width: 100%;
  padding-top: 56.25%; /* Manter a proporção 16:9 */
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 1.7rem;
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 25px; /* Aplicar border-radius diretamente no iframe */
}

@media screen and (max-width: 600px) {
  .completionMessage h2 {
    font-size: 1.2rem;
  }

  .finalMessage {

    display: grid;
    place-items: center;
  }

  .finalMessage h2 {
    font-size: 1rem;
  }

  .messageModal p {
    font-size: 1rem;
  }

  .gifContainer {
    border-radius: 25px;
  }

  .gif {
    border-radius: 25px;
  }
}

@media screen and (max-width: 480px) {

  .gifContainer {
    border-radius: 25px;
  }

  .gif {
    border-radius: 25px;
  }
}

