.login {
  height: 100%;
  border-radius: 1.25rem;
  background: rgba(243, 240, 230, 0.92);
  width: 40%;
  height: 100%;
  flex-shrink: 0;
  margin: auto;
  padding: 3rem;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  position: relative;
  z-index: 5;
}

h2 {
  color: #3E3E3E;
  text-align: center;
  font-size: 1.7rem;
  font-family: var(--type-tirth);
  padding: 1rem 0;
  font-weight: 400;
  
}

.wrapper {
  margin-bottom: 1rem;

}

form{
  display: grid;
  place-items: center;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.login .input {
  border: 1px solid #A7DAC7;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: 0.4rem;
  background: #a7dac761;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: #fff;
  box-shadow: 0 0 0 1px #fea;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.login form .error{
  margin-bottom: 1rem;
  margin-top: 0;
}

.login form .resetButton {
  border: none;
  font-size: 0.8rem;
  margin-bottom: -10px;
  color: gray;
  cursor: pointer;
  background-color: transparent;
}

.login form .resetButton:hover {
  text-decoration: underline;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}


.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: .4rem;
  background: #fb1;
  color: #764701;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  min-width: 8rem;
  margin: 3rem 0 1rem 0;
}

.button:hover,
.button:focus{
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
  transition: 0.2s;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.register {
  color: #3e3e3e;
  font-size: 0.8rem;
}

.register:hover,
.register:focus {
  outline: none;
  border-bottom: 1px solid #3e3e3e;

}

@media screen and (max-width: 1070px){
  form {
    width: 75%;
  }
}

@media screen and (max-width: 767px){
  .login {
    margin-top: 3rem;
    width: 25rem;
    margin-bottom: 4rem;
  }
  .login h2 {
    font-size: 1.3rem;
  }
  form {
    width: 100%;
  }
}

@media screen and (max-width: 460px){
  .login {

    width: 20rem;
    padding: 2rem;
   

  }
  .login h2 {
    font-size: 1.3rem;
  }
}
