@font-face {
  font-family: 'Tengwar Annatar';
  src: url('../src/assets/fonts/TengwarAnnatar/tengwar-annatar.ttf') format('truetype');
  src: url('../src/assets/fonts/TengwarAnnatar/tengwar-annatar.woff') format('truetype');
  /* Adicione outros formatos de fonte, como woff2, woff, etc., para compatibilidade */
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Nunito', Georgia, sans-serif;
  --type-tirth: 'Poppins', sans-serif;
  --type-title: 'mate-sc-regular';
  --type-elf: 'Tengwar Annatar', sans-serif;
  font-family: var(--type-first);
  background-color: rgba(241, 234, 201, 0.33);
  background-repeat: no-repeat;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  /* max-width: 100%; */
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit; /* Garante que o link herde a cor do texto */
}

.container {
  max-width: 72rem;
  padding: 0 1rem;
  margin: 4rem auto;
}


.app-container {
  position: relative;
  z-index: 99999999999999; /* Garante que o conteúdo fique acima do Parallax */
  height: 100%;
  overflow: hidden;
}







